.spendingBox {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style: solid;
    width: 80%;
    position: relative;
    margin: auto;
}

.resultsDiv {
    margin-top: 20px;
    position: relative;
    margin: auto;
    width: 50%;
}

.resultsDiv-dividedNum {
    margin-top: 10px;
}

span {
    margin-right: 10px;
}